@import "src/styles/variables";

.year {
  width: 100px;
  font-family: "Times New Roman";
  font-size: 1.8em;
  font-weight: bolder;
  display: block;
  margin-top: 0px;
}

.title {
  color: black;
  font-size: 1.5em;
  font-weight: bolder;
}

.contentFont {
  font-family: "Bell MT";
  font-size: 1.5em;
}

.content {
  background-color: $gray;
}